* {
	padding: 0;
	text-decoration: none;
	margin-bottom: 0;
	/* [disabled]margin-left: 0; */
	margin-right: 0;
	margin-top: 0;
}

@font-face {
	font-family: 'sans';
	src: url("#{resource['fonts/sans.eot']}");
	src: url("#{resource['fonts/sans.eot']}") format('embedded-opentype'),
		url("#{resource['fonts/sans.woff2']}") format('woff2'),
		url("#{resource['fonts/sans.woff']}") format('woff'),
		url("#{resource['fonts/sans.ttf']}") format('truetype'),
		url("#{resource['fonts/sans.svg#sans']}") format('svg');
}

@font-face {
	font-family: 'sansa';
	src: url("#{resource['fonts/sansa.eot']}");
	src: url("#{resource['fonts/sansa.eot']}") format('embedded-opentype'),
		url("#{resource['fonts/sansa.woff2']}") format('woff2'),
		url("#{resource['fonts/sansa.woff']}") format('woff'),
		url("#{resource['fonts/sansa.ttf']}") format('truetype'),
		url("#{resource['fonts/sansa.svg#sansa']}") format('svg');
}

body {
	margin: 0;
	font-family: sansa, Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	background-color: #fff;
	font-size: 14px;
	color: #3e4042;
	direction: rtl;
}

section {
	
}

img {
	border: 0;
	vertical-align: middle;
}

.logo-resize {
	width: 60%;
}

a {
	color: #2876ab;
	text-decoration: none;
}

a:hover {
	color: #f7af00;
	text-decoration: none;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

header {
	background-color: #117cc2;
	background-image: url("#{resource['images/bg_site.png']}");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	width: 100%;
	font-size: 13px;
	height: 100px;
	color: #fff;
	padding-top: 7px;
}

.navbar-inverse {
	margin-top: 50px;
}

header .navbar-right li, header .navbar-right a {
	margin: 40px 10px;
	font-size: 16px;
}

header .navbar-right li i, header .navbar-right a>* {
	margin-left: 6px;
}

#account {
	margin: 30px 0;
}

#account li {
	margin-left: 25px;
	margin-bottom: 20px;
	cursor: pointer;
}

#account li i {
	margin-left: 3px;
	color: #F00;
}

#social {
	text-align: left;
}

#pricing .btn-primary {
	font-size: 18px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 12px 30px;
	background-color: #446fb4;
	border: none;
	font-family: sans, Helvetica, Arial, sans-serif;
}

#pricing .btn-primary:hover {
	background-color: #F90;
}

.box {
	margin-top: 30px;
}

.title-box {
	color: #117cc2;
	font-weight: 600;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.title-box i {
	margin-left: 6px;
	color: #F00;
}

.title-box:after {
	content: "";
	height: 1px;
	position: absolute;
	bottom: 0;
	right: 35%;
}

.title-box:after {
	width: 30%;
	background: #bfc0c1;
}

.step-box {
	color: #117cc2;
}

.step-icon {
	width: 120px;
	height: 120px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	line-height: 120px;
	font-size: 20px;
	color: #fff;
}

.step-icon img {
	margin: auto;
}

.step-box p {
	color: #96989b;
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
	text-align: center;
}

.other {
	margin-bottom: 12px;
}

.other-box {
	border: solid 1px #ccc;
	padding-bottom: 20px;
	color: #a39d9d;
}

.other-box .img-other {
	margin: 20px auto auto auto;
}

.other-box h4 {
	margin: 20px 0;
	font-weight: 600;
}

.other-box i {
	margin-left: 5px;
}

.box .other-icon i {
	display: block;
	margin: auto;
	font-size: 30px;
}

.other-date {
	font-size: 14px;
	margin-top: 7px;
}

#contact-data {
	direction: ltr;
	font-size: 16px;
	color: #727677;
}

.pageform .form-control {
	font-size: 16px;
}

.pageform p {
	margin: 0 0 4px 0;
}

#contact-data p {
	margin-bottom: 5px;
}

#contact-data i {
	font-size: 18px;
	text-align: center;
	background-color: #117cc2;
	color: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-right: 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#contact-data .networking {
	margin: 20px 0;
}

#contact-data .networking i {
	width: 40px;
	height: 40px;
	font-size: 26px;
	line-height: 40px;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}

#contact-data .networking i:hover {
	background-color: #F30;
}

.pay {
	margin-bottom: 10px;
}

.pay img {
	width: 137px;
	height: 51px;
}

.btn-default {
	color: #fff;
	background-color: #117cc2;
	border-color: #117cc2;
	padding: 10px 30px;
	font-size: 16px;
	margin-top: 20px;
}

footer {
	background-color: #117cc2;
	width: 100%;
	margin-top: 50px;
	padding: 16px 0;
	color: #fff;
}

footer .nav li {
	display: inline-block;
}

footer .nav a {
	color: #fff;
	padding: 10px 0 10px 15px;
}

footer .nav a:hover {
	background: none;
	color: #000;
}

.newsletter input {
	position: relative;
	height: 35px;
	font-size: 14px;
}

#rosomat {
	width: 100%;
	display: inline-block;
}

#rosomat a {
	color: #e5efff;
}

#rosomat a:hover {
	color: #000;
}

.newsletter button {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e8423f;
	border: #e8423f;
	padding: 5px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#myModal .modal-header, #myModal2 .modal-header, #myModal3 .modal-header,
	#completeModal .modal-header {
	background-color: #99969a;
	color: #fff;
	text-align: center;
	padding: 3px 10px;
}

#myModal .close, #myModal2 .close, #myModal3 .close, #completeModal .close
	{
	position: absolute;
	top: 15px;
	left: 15px;
	background: #de2a2a;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	opacity: inherit;
	color: #fff;
	z-index: 10;
}

.reg-image {
	z-index: 99999 !important;
	width: 200px;
}

.whyvin-image {
	z-index: 99999 !important;
	width: 350px;
}

.whatsapp-image{
	width:15%;
}

#myModal .form-control, #myModal2 .form-control, #myModal3 .form-control,
	#completeModal .form-control {
	border-radius: 10px;
}

#myModal form span, #myModal2 form span, #myModal3 form span,
	#completeModal form span {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #de2a2a;
}

#myModal .modal-body, #myModal2 .modal-body, #myModal3 .modal-body,
	#completeModal .modal-body {
	padding: 12px 30px;
}

#myModal h4, #myModal2 h4, #myModal3 h4, #completeModal h4 {
	padding: 10px;
	text-align: center;
	color: #fff;
	position: relative;
	cursor: pointer;
}

#myModal #forget, #myModal2 #forget {
	padding: 7px 0;
	font-size: 14px;
	color: #117cc2;
	float: left;
}

#myModal h4 i, #myModal2 h4 i {
	font-size: 30px;
	opacity: 0.4;
	position: absolute;
	right: 140px;
	top: 6px;
	width: 51px;
}

#myModal h4:hover, #myModal2 h4:hover {
	opacity: 0.7;
}

#bg-twitter {
	background: #1da1f2;
}

.bg-facebook {
	background: #3b5998;
	color: white;
	width: 100%;
	padding: 10px;
}

.bg-login {
	background: #11598b;
	color: white;
	width: 100%;
	padding: 10px;
}

#myModal2 h5 {
	color: #117cc2;
}

@media ( max-width : 768px) {
	header {
		padding-top: 10px;
	}
	.modal-dialog {
		width: auto !important;
	}
	header .navbar-right {
		float: right !important;
	}
	.logo {
		margin: auto;
	}
	.logo-resize {
		width: 35%;
	}
	.step {
		font-size: 13px;
	}
}

@media ( max-width : 640px) {
	.modal-dialog {
		width: auto !important;
	}
	header {
		height: auto;
	}
	header .navbar-right {
		text-align: center;
	}
	header .navbar-right li {
		display: inline-block;
		margin: 10px 10px;
	}
	#account .nav li {
		text-align: center;
	}
	footer .navbar-nav {
		margin: 0;
	}
	#rosomat {
		text-align: center;
		margin: 15px 0;
	}
	#contact-data {
		text-align: center;
	}
	footer .nav a {
		padding: 10px 0 10px 13px
	}
	footer .col-xs-3 {
		width: 20%
	}
	.whyvin-image {
		z-index: 99999 !important;
		width: 300px;
	}
}

.ui-widget, .ui-widget input, .ui-widget select {
	font-family: sansa, Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}

.ui-widget-content {
	border: none !important;
	background: transparent !important;
}

.order-datagrid .ui-datagrid-column {
	width: 33.33%;
}

.well {
	background: #f5f5f5;
}

.modal-dialog {
	width: 600px;
}

.q-form-control {
	display: block;
	width: 40px;
	height: 36px;
	padding: 8px 0px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.q-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.q-form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.q-form-control:-ms-input-placeholder {
	color: #999;
}

.q-form-control::-webkit-input-placeholder {
	color: #999;
}

.q-form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.checkout-btn {
	background-color: #117cc2;
	color: white;
	width: 100%;
	border: none;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.plus-icon{
	content: url("#{resource['images/plus-icon-bg.png']}");
	display:inline-block;
	text-decoration:none!important;
	vertical-align:middle;
	width: 45px;
	cursor:pointer;
}

/* Style the tab */
.q-tab{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */
.q-tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}


/* Change background color of buttons on hover */
.q-tab button:hover {
	background-color: #ddd;
}



/* Create an active/current tablink class */
.q-tab button.active {
	background-color: #ccc;
}



/* Style the tab content */
.q-tabcontent {
	display: none;
	padding: 6px 0;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}